[Desktop Entry]
Type=Application
Name=Network
Name[da]=Netværk
Name[de]=Netzwerk
Name[hye]=Ցանց
Name[it_IT]=Rete
Name[lt]=Tinklas
Name[pt_BR]=Rede
Name[ru_RU]=Сеть
Name[tr]=Ağ
Name[zh_CN]=网络
Comment=Control how you connect to the Internet
Comment[da]=Styr hvordan du opretter forbindelse til internettet
Comment[de]=Kontrollieren Sie, wie Sie sich mit dem Internet verbinden
Comment[hye]=Կառավարել թե ինչպէս ես կապանցուած համացանցին
Comment[it_IT]=Controlla come ti connetti ad Internet
Comment[lt]=Valdyti būdus, kaip prisijungsite prie interneto
Comment[pt_BR]=Controle como se conectar à internet
Comment[ru_RU]=Контролируйте ваше подключение к интернету
Comment[tr]=İnternet'e nasıl bağlanacağınızı denetleyin
Comment[zh_CN]=如何让你连接到互联网的控制
Keywords=network;ethernet;wifi;wired;wireless;
Keywords[da]=netværk;ethernet;wifi;kablet;trådløst;
Keywords[de]=Netzwerk;Ethernet;WLAN;Kabelgebunden;Drahtlos;
Keywords[hye]=ցանց;ethernet;wifi;լարային;անլար;
Keywords[it_IT]=rete;ethernet;wifi;cablata;wireless;
Keywords[lt]=tinklas;laidinis;eternetas;belaidis;wifi;
Keywords[pt_BR]=rede;ethernet;wifi;com fio;sem fio;wireless;
Keywords[tr]=ağ;ethernet;wifi;kablolu;kablosuz;
Keywords[zh_CN]=网络;以太局域网;Wi-Fi;有线;无线;
Icon=preferences-system-network
TryExec=liri-settings
Exec=liri-settings networkmanager
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=action/settings_ethernet
