[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=Control how you connect to the Internet
Comment[ast]=Controla como te coneutes a internet
Comment[ca]=Controli com es connecta a Internet
Comment[cs_CZ]=Řiďte způsob, jakým se připojujete k internetu
Comment[da]=Styr hvordan du opretter forbindelse til internettet
Comment[de]=Kontrollieren, wie auf das Internet zugegriffen wird
Comment[el]=Ελέγξτε πώς συνδέεστε στο Διαδίκτυο
Comment[es]=Controla como te conectas a Internet
Comment[es_419]=Controle cómo se conecta a Internet
Comment[es_MX]=Controle como se conecta a Internet
Comment[fr]=Contrôlez comment vous vous connectez à Internet
Comment[hr_HR]=Kontrolira kako se spajate na internet
Comment[id]=Atur bagaimana Anda terkoneksi dengan internet
Comment[it]=Controlla come ti connetti a Internet
Comment[ja_JP]=インターネットへの接続方法のコントロール
Comment[lt]=Valdyti būdus, kaip prisijungsite prie interneto
Comment[nl]=Controlleer hoe je verbindt met het Internet
Comment[pl]=Kontroluj sposób łączenia się z internetem
Comment[pt_BR]=Controlar como você se conecta à Internet
Comment[pt_PT]=Controle como se conecta à internet
Comment[ru]=Параметры подключения к интернету
Comment[sk]=Nastavuje sa tu spôsob pripojenia k internetu
Comment[tr]=İnternet’e nasıl bağlanacağınızı denetleyin
Comment[zh_CN]=控制连接 internet 的方式
Comment[zh_TW]=控制如何連接網路
Exec=liri-settings network
Icon=preferences-system-network
Keywords=network;ethernet;wifi;wired;wireless;
Name=Network
Name[ar]=الشبكة
Name[ast]=Rede
Name[ast_ES]=Rede
Name[ca]=Xarxa
Name[cs_CZ]=Síť
Name[da]=Netværk
Name[da_DK]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[es]=Red
Name[es_419]=Red
Name[es_MX]=Red
Name[fr]=Réseau
Name[hr_HR]=Mreža
Name[hu]=Hálózat
Name[id]=Jaringan
Name[it]=Rete
Name[ja]=ネットワーク
Name[ja_JP]=ネットワーク
Name[ko]=네트워크
Name[lt]=Tinklas
Name[nl]=Netwerk
Name[pl]=Sieć
Name[pt_BR]=Rede
Name[pt_PT]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Name[tr]=Ağ
Name[zh_CN]=网络
Name[zh_TW]=網際網路
OnlyShowIn=X-Liri;
TryExec=liri-settings
Type=Application
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=action/settings_ethernet
