[Desktop Entry]
Comment=Network status and control
Comment[ar]=حالة الشبكة والتحكم بها
Comment[da]=Netværksstatus og -styring
Comment[de]=Netzwerkstatus und -steuerung
Comment[es_419]=Estado de la red
Comment[fr]=État du réseau et contrôle
Comment[id]=Status dan kontrol jaringan
Comment[it]=Stato della rete e controllo
Comment[lt]=Tinklo būsena ir valdymas
Comment[nl]=Netwerk status en besturing
Comment[pl]=Status i sterowanie siecią
Comment[pt_BR]=Status e controle de rede
Comment[ru]=Статус и настройка сети
Comment[sk]=Riadenie stavu siete
Comment[tr]=Ağ durumu ve denetim
Comment[zh_CN]=网络状态与控制
Icon=preferences-system-network
Keywords=Network;Wired;Wireless;VPN;
Name=Network
Name[ar]=الشبكة
Name[da]=Netværk
Name[de]=Netzwerk
Name[es_419]=Red
Name[fr]=Réseau
Name[id]=Jaringan
Name[it]=Rete
Name[lt]=Tinklas
Name[nl]=Netwerk
Name[pl]=Sieć
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Name[tr]=Ağ
Name[zh_CN]=网络
OnlyShowIn=X-Liri;
Type=Service
X-Liri-MainScript=contents/main.qml
X-Liri-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@liri.io>
X-Liri-PluginInfo-Category=Indicators
X-Liri-PluginInfo-EnabledByDefault=true
X-Liri-PluginInfo-License=GPL
X-Liri-PluginInfo-Name=io.liri.Indicators.NetworkManager
X-Liri-PluginInfo-Version=1.0.0
X-Liri-PluginInfo-Website=https://liri.io
X-Liri-ServiceType=Indicator
